@model SmartLMS.WebUI.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Authentication/_Layout.cshtml";
}


<div class="panel panel-primary card-signup">
    <div class="panel-heading">
        <div class="text-center panel-title">Forgot your password?</div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("ForgotPassword", "Authentication", FormMethod.Post))
                {
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Type your subscribed email</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div>
                        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger text-danger" })
                        @if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <div class="alert alert-success">
                                @ViewBag.Message
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button name="login-submit" id="login-submit" class="btn btn-simple btn-primary">Send</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                @Html.ActionLink("Back to login", "Login", null, new { @class = "btn btn-simple forgot-password" })
                            </div>
                        </div>
                    </div>


                }
            </div>
        </div>
    </div>
</div>
