@using SmartLMS.Domain.Resources
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">@Resource.DeliveryPlanHistory</h3>
    </div>
    <div class="panel-body panel-body-no-margin">
        <div class="row">
            <div class="col-md-12 form-horizontal">
                <div class="col-md-4">
                    <div class="form-group label-static is-empty">
                        <label class="control-label">@Resource.StartDateLabel</label>
                        <input class="datepicker form-control" type="text" id="delivery-plan-start-date" value="@DateTime.Now.AddMonths(-1).ToShortDateString()"/>
                    </div>
                </div>
                <div class="text-right">
                    <button id="delivery-plan-filter-button" class="btn btn-primary btn-sm">@Resource.FilterButton</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="delivery-plan-history-results" class="list-group"></div>
        </div>

    </div>
</div>