/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dropzone {
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 1em;
    position: relative;
}

.dropzone.dz-clickable { cursor: pointer; }

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span { cursor: pointer; }

.dropzone.dz-clickable * { cursor: default; }

.dropzone .dz-message {
    -ms-filter: none;
    filter: none;
    opacity: 1;
}

.dropzone.dz-drag-hover {
    background: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.15);
}

.dropzone.dz-started .dz-message { display: none; }

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #acacac;
    display: inline-block;
    margin: 17px;
    padding: 6px 6px 6px 6px;
    position: relative;
    vertical-align: top;
}

.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] { display: none; }

.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
    background: #ebebeb;
    height: 100px;
    margin-bottom: 22px;
    padding: 5px;
    position: relative;
    width: 100px;
}

.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
    height: 100%;
    overflow: hidden;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}

.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
    bottom: -28px;
    height: 28px;
    left: 3px;
    line-height: 28px;
    position: absolute;
}

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark { display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark { display: block; }

.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img { display: none; }

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
    display: none;
    font-size: 30px;
    height: 40px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 40px;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark { color: #8cc657; }

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark { color: #ee162d; }

.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
    background: #d7d7d7;
    display: none;
    height: 6px;
    left: 6px;
    position: absolute;
    right: 6px;
    top: 100px;
}

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
    background-color: #8cc657;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 0%;
}

.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress { display: block; }

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
    background: rgba(245, 245, 245, 0.8);
    color: #800;
    display: none;
    left: -20px;
    max-width: 500px;
    min-width: 140px;
    padding: 8px 10px;
    position: absolute;
    top: -5px;
    z-index: 500;
}

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message { display: block; }