/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dropzone {
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 1em;
    position: relative;
}

.dropzone.dz-clickable { cursor: pointer; }

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span { cursor: pointer; }

.dropzone.dz-clickable * { cursor: default; }

.dropzone .dz-message {
    -ms-filter: none;
    filter: none;
    opacity: 1;
}

.dropzone.dz-drag-hover {
    background: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.15);
}

.dropzone.dz-started .dz-message { display: none; }

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
    background: #7F3F98;
    border: 1px solid #7F3F98;
    display: inline-block;
    margin: -32px 10px -32px 10px;
    padding: 6px 6px 6px 6px;
    position: relative;
    vertical-align: top;
}

.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] { display: none; }

.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
    background: #ebebeb;
    height: 100px;
    margin-bottom: 22px;
    padding: 5px;
    position: relative;
    width: 100px;
}

.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
    height: 100%;
    overflow: hidden;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}

.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
    bottom: -28px;
    height: 28px;
    left: 3px;
    line-height: 28px;
    position: absolute;
}

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark { display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark { display: block; }

.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img { display: none; }

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
    display: none;
    font-size: 30px;
    height: 40px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 40px;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark { color: #8cc657; }

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark { color: #ee162d; }

.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
    background: #d7d7d7;
    display: none;
    height: 6px;
    left: 6px;
    position: absolute;
    right: 6px;
    top: 100px;
}

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
    background-color: #8cc657;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 0%;
}

.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress { display: block; }

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
    background: #f44336;
    color: white;
    display: none;
    /* border-radius: 5px; */
    font-size: 12px;
    font-weight: 400;
    height: 95px;
    left: 6px;
    line-height: 22px;
    max-width: 100px;
    min-width: 100px;
    padding: 8px 10px;
    position: absolute;
    top: 6px;
    z-index: 500;
}

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message { display: block; }

.dropzone {
    -webkit-border-radius: 3px;
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    padding: 40px;
}

.dropzone .dz-default.dz-message {
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-filter: none;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    background-position: 0 0;
    /*background-image: url("../img/spritemap.png");*/
    background-repeat: no-repeat;
    filter: none;
    line-height: 0px;
    opacity: 1;
    position: absolute;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    width: 90%;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
    .dropzone .dz-default.dz-message {
        -moz-background-size: 428px 406px;
        /*background-image: url("../img/spritemap@2x.png");*/
        -webkit-background-size: 428px 406px;
        background-size: 428px 406px;
    }
}

.dropzone.dz-square .dz-default.dz-message {
    background-position: 0 -123px;
    height: 174px;
    margin-left: -134px;
    margin-top: -87px;
    width: 268px;
}

.dropzone.dz-drag-hover .dz-message {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    filter: alpha(opacity=15);
    opacity: 0.15;
}

.dropzone.dz-started .dz-message {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
    font-size: 14px;
}

.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    display: block;
    filter: alpha(opacity=10);
    opacity: 0.1;
}

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
    -ms-filter: none;
    filter: none;
    opacity: 1;
}

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
    -ms-filter: none;
    filter: none;
    opacity: 1;
}

.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload { background: #ee1e2d; }

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    background-image: url("../img/spritemap.png");
    background-repeat: no-repeat;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
    .dropzone .dz-preview .dz-error-mark,
    .dropzone-previews .dz-preview .dz-error-mark,
    .dropzone .dz-preview .dz-success-mark,
    .dropzone-previews .dz-preview .dz-success-mark {
        -moz-background-size: 428px 406px;
        -webkit-background-size: 428px 406px;
        background-image: url("../img/spritemap@2x.png");
        background-size: 428px 406px;
    }
}

.dropzone .dz-preview .dz-error-mark span,
.dropzone-previews .dz-preview .dz-error-mark span,
.dropzone .dz-preview .dz-success-mark span,
.dropzone-previews .dz-preview .dz-success-mark span { display: none; }

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark { background-position: -268px -123px; }

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark { background-position: -268px -163px; }
 
 
 
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
    -ms-filter: none;
    filter: none;
    opacity: 1;
}
 
 
@-moz-keyframes loading {
    0% { background-position: 0 -400px; }

    100% { background-position: -7px -400px; }
}

@-webkit-keyframes loading {
    0% { background-position: 0 -400px; }

    100% { background-position: -7px -400px; }
}

@-o-keyframes loading {
    0% { background-position: 0 -400px; }

    100% { background-position: -7px -400px; }
}

@-ms-keyframes loading {
    0% { background-position: 0 -400px; }

    100% { background-position: -7px -400px; }
}

@keyframes loading {
    0% { background-position: 0 -400px; }

    100% { background-position: -7px -400px; }
}

.dz-size { color: white; }