<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bd7d319d-b264-4657-a3c9-7c993c425dc8/resourceGroups/TarabSmartLMS-RGDev/providers/Microsoft.Web/sites/TarabSmartLMS</ResourceId>
    <ResourceGroup>TarabSmartLMS-RGDev</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tarabsmartlms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tarabsmartlms.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TarabSmartLMS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TarabSmartLMS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="connectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:carubbidbdev.database.windows.net,1433;Initial Catalog=TarabSmartLMSDbDev;User ID=carubbi@carubbidbdev;Password=Raphakf@061208" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SmartLMS.DAL.Context, SmartLMS.DAL" MigrationConfiguration="SmartLMS.DAL.Migrations.Configuration, SmartLMS.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="connectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:carubbidbdev.database.windows.net,1433;Initial Catalog=TarabSmartLMSDbDev;User ID=carubbi@carubbidbdev;Password=Raphakf@061208</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>