figure {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 20px 20px 0;
}




figcaption {
    position: absolute;
    background: black;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 10px 20px;
    opacity: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

figure:hover figcaption {
    opacity: 1;
}

figure img {
    -moz-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

figure:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.cap-left:before {
    bottom: 10px;
    left: 10px;
}

.cap-left figcaption {
    bottom: 0;
    left: -30%;
}

.cap-left:hover figcaption {
    left: 0;
}

.cap-right:before {
    bottom: 10px;
    right: 10px;
}

.cap-right figcaption {
    bottom: 0;
    right: -30%;
}

.cap-right:hover figcaption {
    right: 0;
}

.cap-top:before {
    top: 10px;
    left: 10px;
}

.cap-top figcaption {
    left: 0;
    top: -30%;
}

.cap-top:hover figcaption {
    top: 0;
}

.cap-bot:before {
    bottom: 10px;
    left: 10px;
}

.cap-bot figcaption {
    left: 0;
    bottom: -30%;
}

.cap-bot:hover figcaption {
    bottom: 0;
}
