.list-group { border-radius: 0; }

.list-group .list-group-item {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    padding: 0 16px;
}

.list-group .list-group-item.baseline { border-bottom: 1px solid #cecece; }

.list-group .list-group-item.baseline:last-child { border-bottom: none; }

.list-group .list-group-item .row-picture,
.list-group .list-group-item .row-action-primary {
    float: left;
    margin-top: 5px;
    padding-right: 16px;
}

.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img,
.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i,
.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label {
    display: block;
    height: 56px;
    width: 56px;
}

.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img {
    background: rgba(0, 0, 0, 0.1);
    padding: 1px;
}

.list-group .list-group-item .row-picture img.circle,
.list-group .list-group-item .row-action-primary img.circle { border-radius: 100%; }

.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    color: white;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
}

.list-group .list-group-item .row-action-primary i.active { background: #7F3F98; }

.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label {
    margin-bottom: -5px;
    margin-left: 7px;
    margin-right: -7px;
    margin-top: 5px;
}

.list-group .list-group-item .row-picture label .checkbox-material,
.list-group .list-group-item .row-action-primary label .checkbox-material { left: -10px; }

.list-group .list-group-item .row-content {
    display: inline-block;
    min-height: 66px;
    width: -webkit-calc(100% - 92px);
    width: calc(100% - 92px);
}

.list-group .list-group-item .row-content .action-secondary {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 15%;
}

.list-group .list-group-item .row-content .action-secondary i {
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 20px;
}

.list-group .list-group-item .row-content .action-secondary ~ * {
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
}

.list-group .list-group-item .row-content .least-content {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    position: absolute;
    right: 16px;
    top: 0;
}

.list-group .list-group-item .row-content .footer-content {
    bottom: 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    position: absolute;
    right: 20px;
}



.list-group .list-group-item .list-group-item-heading {
    color: rgba(0, 0, 0, 0.77);
    font-size: 20px;
    line-height: 29px;
}

.list-group .list-group-item.active:hover,
.list-group .list-group-item.active:focus {
    background: rgba(0, 0, 0, 0.15);
    outline: 10px solid rgba(0, 0, 0, 0.15);
}

.list-group .list-group-item.active .list-group-item-heading,
.list-group .list-group-item.active .list-group-item-text { color: rgba(0, 0, 0, 0.87); }

.list-group .list-group-separator {
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.list-group .list-group-separator:before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    content: "";
    float: right;
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px);
}



.link-group-item:hover i.fa { background: #7F3F98 !important; }


.list-group-item-sm .row-action-primary i, .list-group-item-sm .row-picture i {
    font-size: 15px !important;
    height: 40px !important;
    line-height: 42px !important;
    width: 40px !important;
}

.list-group-item-sm .list-group-item-heading {
    font-size: 16px !important;
    line-height: 20px !important;
}

.list-group-item-sm .row-content { min-height: 55px !important; }

.list-group-item-sm h5 { font-size: 15px }

.list-group-item-sm label { font-size: 11px }

.list-group-item-sm span { font-size: 11px }

.list-group .list-group-separator-sm {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.list-group .list-group-separator-sm:before { margin-right: 19px !important; }