
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-@TempData["TipoMensagem"] alert-dismissible fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Mensagem"]
    </div>
}
