<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                 
                    <div class="form-group label-floating is-empty">
                        <label class="control-label" for="q">Sobre o que você quer aprender?</label>
                        <div class="input-group" style="display:block">
                            <div class="row">
                                <div class="col-md-11 col-sm-10 col-xs-9">
                                    <input type="search" id="q" class="form-control" data-autocomplete="@Url.Action("BuscaContextual", "Home")" name="q">
                                </div>
                                <div class="col-xs-1">
                                    <button type="submit" class="btn btn-primary btn-fab btn-fab-mini btn-round" id="busca-contextual-button">
                                        <i class="material-icons">search</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="resultado-busca-container" style="display: none;">

                    </div>
                </div>
          
        </div>
    </div>
</div>
<script id="resultado-busca-template" type="text/x-handlebars-template">
        <h4>Resultados da pesquisa</h4>
        <div class="bs-component">
            <div class="list-group">
                {{#each ResultadoBusca}}
                <div class="list-group-item list-group-item-sm">
                    <a href="@Url.Content("~/"){{Link}}" class='link-group-item'>
                        <div class="row-action-primary">
                            <i class="fa {{Icone}}"></i>
                        </div>
                        <div class="row-content">
                            <div class="action-secondary"><i class="material-icons">{{Status}}</i></div>
                            <h4 class="list-group-item-heading">{{Descricao}}</h4>
                            <p class="list-group-item-text">{{TipoDescricao}}</p>
                        </div>
                    </a>
                </div>
                <div class="list-group-separator list-group-separator-sm"></div>
                {{/each}}
            </div>
        </div>
    <div class="text-center">
        <ul class="pagination pagination-primary">
            {{#if possuiAnterior}}
            <li><a href="javascript:void(0);">&lt; anterior</a></li>
            {{/if}}

            {{#greaterThan paginas 10}}
                {{#times 10}}
                    <li><a href="javascript:void(0);" class="active">{{this}}</a></li>
                {{/times}}
            {{/greaterThan}}
            {{#lessThanOrEquals paginas 10}}
                {{#times paginas}}
                    <li><a href="javascript:void(0);">{{this}}</a></li>
                {{/times}}
            {{/lessThanOrEquals}}

            {{#if possuiProxima}}
            <li><a href="javascript:void(0);">próxima &gt;</a></li>
            {{/if}}
        </ul>
    </div>
</script>