@using SmartLMS.Domain.Entities
@using SmartLMS.Domain.Entities.Content
@using SmartLMS.Domain.Resources
@model IEnumerable<Course>
@{
    ViewBag.Title = "My Courses";
}


<div class="col-md-8">
    <div class="card">
        <div class="content">
            <h3 class="text-primary index-title">My Courses</h3>
            <div class="list-group">
                @foreach (Course course in Model)
                {
                    <a href="@Url.Action("Index", "Class", new { Id = course.Id })" class="link-group-item">
                        <div class="list-group-item">
                            <div class="row-action-primary">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">@course.Name</h4>
                                <p class="list-group-item-text">@course.Classes.Count() @(course.Classes.Count() > 1 ? Resource.ClassPlural: Resource.ClassName)</p>
                             
                            </div>
                        </div>
                    </a>
                    <div class="list-group-separator"></div>
                }
            </div>
        </div>
    </div>
</div>

